﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Contacts.aspx.cs" Inherits="Via.Contacts" MasterPageFile="~/Index.Master" %>

<asp:Content ID="ContentContacts" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="container">
        <div class="row">
            <h1>My Account</h1>
        </div>
        <div class="row" style="background-color:rgb(231,241,245); margin-top:20px;">
            <div class="col-md-3" style="background-color:rgb(0,174,239); padding-bottom:20px;">
                <div class="row" style="height:250px;">
                <img src="Images/1.jpg" style="height:250px; width:100%; background-repeat:no-repeat; background-size:cover"/>
                </div>
            <aside style="margin-top:20px;">
        	
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">Prifile</a></li>
                <li><a href="EditProfile.aspx">Edit Profile</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Help</a></li>
            </ul> 
         </aside>
            </div>
            <div class="col-md-9" style="background-color:white; padding:10px;">

                <div class="row">
                    <div class="col-md-3">
                        <img src="Images/contacts.png" style="height:140px;" />
                    </div>
                    <div class="col-md-9">
                        <h2>Contacts</h2>
                        <p>You Can Manage Your Friends In Your Contact List.
                            You can Add Friends
                          You Can Remove Friends
                           And grupe Chat
                        </p>
                    </div>
                </div>

                  <div class="row">
               <h1 style="margin-left:30px;">All Contacts</h1>

                      <!------------contacts - 2rows --------->
                      <div class="col-md-6">
                           <!------------one contact--------->
                          <div class="row">
                          <hr style="width:670px;" />
                          <div class="col-md-2" style="margin-left:20px;">
                              <img src="Images/photo.jpg" style="height:100px;" />
                          </div>
                          <div class="col-md-7" style="margin-left:60px;">
                              
                              <div class="row"><b>Ishara Madawa</b></div>
                              <div class="row"><i>isharazone@gmail.com</i></div>
                              <div class="row"><i>Kegalle</i></div>

                          </div>
                      </div>
                          <!---------------------------------->

                      </div>

<%--                      <div class="col-md-6">
                          <!------------one contact--------->
                          <div class="row">
                          <hr style="width:670px;" />
                          <div class="col-md-2" style="margin-left:20px;">
                              <img src="Images/photo.jpg" style="height:100px;" />
                          </div>
                          <div class="col-md-7" style="margin-left:60px;">
                              
                              <div class="row"><b>Ishara Madawa</b></div>
                              <div class="row"><i>isharazone@gmail.com</i></div>
                              <div class="row"><i>Kegalle</i></div>

                          </div>
                      </div>
                          <!---------------------------------->
                           <!------------one contact--------->
                          <div class="row">
                          <hr style="width:670px;" />
                          <div class="col-md-2" style="margin-left:20px;">
                              <img src="Images/photo.jpg" style="height:100px;" />
                          </div>
                          <div class="col-md-7" style="margin-left:60px;">
                              
                              <div class="row"><b>Ishara Madawa</b></div>
                              <div class="row"><i>isharazone@gmail.com</i></div>
                              <div class="row"><i>Kegalle</i></div>

                          </div>
                      </div>
                          <!---------------------------------->
                      </div>--%>
                   <!------------ end contacts - 2rows --------->
       </div>
    </div>
 </div>
 </div>   

    </asp:Content>

<asp:Content ID="Content1" runat="server" contentplaceholderid="head">
       
</asp:Content>

